.c {
  background-color: orange;
}

.x {
  background-color: #212162;
}

body {
  margin: 0;
}

@media screen and (max-width: 600px) {
  table, tr, td {
    padding: 50px;
  }
  table {
    padding: 20px;
  }
  td {
    padding: 0px;
  }
}

a {
  color: white;
}

.options {
  padding: 10px 40px;
  color: white;
  text-align: right;
  background-color: #212162;
  font-family: Arial;
  font-size: 18px;
  margin: 0px;
}

a:link {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 110px;
  font-family: Verdana;
}

.s {
  padding: 40px 450px;
  background-color: orange;
  font-family: Verdana;
  color: white;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
 .o {
  font-size: 25px;
  }
}

.z {
  background-color: white;
}

.o {
  padding: 50px 0;
  font-family: Verdana;
  font-size: 19px;
}

body {
  background-color: orange;
  color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding-left: 20px;
  padding-right: 20px;
}

.skills {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  list-style-type: none;
}

.skills li {
  text-align: center;
  padding: 0;
  font-family: Verdana;
}

#forms {
  font-family: Arial;
  color: white;
  text-align: center;
}

#footer {
  padding: 30px 30px;
  background-color: #212162;
  color: white;
  text-align: center;
  font-family: Arial;
}

img {
	height: 300px;
  width: 300px;
}

.displayed {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  padding: 180px;
  text-align: center;
  background-color: orange;
  font-size: 25px;
  color: white;
}

.media {
  padding: 60px;
  text-align: center;
  background-color: orange;
  height: 300px;
  font-size: 30px;
  color: white;
}

h2 {
  text-align: center;
}
