a:link {
  color: white;
  text-decoration: none;
}

.app {
  background-color: #6599FF;
  margin: 0 auto -20px auto;
  padding: 20px;
  text-align: center;
}

.app h1 {
  color: white;
  margin: 0;
  padding: 30px;
}

.app h3:hover {
  color: blue;
}

.app h4 {
  padding-bottom: 20px;
}

.app h4:hover {
  color: orange;
}

.app img {
  width: 100px;
}

.app img:hover {
  -webkit-transform:scale(3);
  transform:scale(4);
}

.app img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

a:visited {
  color: white;
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

.clearfix:after {
   background-color: #FF9900;
   clear: both;
   content: " ";
   display: block;
   font-size: 0;
   height: 0;
   visibility: hidden;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.contact {
  background-color: #6599FF;
  color: white;
  font-size: 40px;
  padding: 100px;
  text-align: center;
}

.contact a:hover {
  color: orange;
}

.container {
  background-color: #6599FF;
  color: white;
  font-size: 24px;
  margin: 0 auto;
  padding: 60px 200px;
}

.container a:hover {
  color: orange;
  text-align: center;
}

.container h2 {
  color: orange;
  font-size: 30px;
  padding: 30px 0;
  text-align: center;
}

#footer {
  background-color: orange;
  color: white;
  padding: 30px 30px;
  text-align: center;
}

#forms {
  color: white;
  font-family: Arial;
  text-align: center;
}

.media {
  background-color: #6599FF;
  color: white;
  font-size: 30px;
  height: 300px;
  padding: 60px 100px 170px 100px;
  text-align: center;
}

.media a:hover {
  color: orange;
}

.o {
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}
.painting {
  background-color: #6599FF;
  height: 300px;
  padding: 40px 290px 30px 0;
  margin: 0 auto;
  text-align: center;
}

.painting img {
  width: 300px;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.painting img.top:hover {
  opacity: 0;
}

.portfolio{
  background-color: #6599FF;
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding: 30px;
  text-align: center;
}

.s {
  background-color: orange;
  color: white;
  font-size: 20px;
  padding: 40px 450px;
  text-align: center;
}

.skills {
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  width: 92%;
}

.text {
  background-color: #6599FF;
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 20px;
  text-align: center;
}

ul.clearfix li {
  float: left;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 15px 4px;
}

ul.clearfix {
  background-color: #FF9900;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
}

ul.clearfix li:last-child {
  padding-right: 0;
}

ul.clearfix li:first-child {
  padding-left: 12px;
}

.x {
  background-color: #6599FF;
  padding: 50px 0 100px 0;
}

.x h1 {
  color: white;
  font-size: 150px;
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
}

.x h2 {
  color: white;
  text-align: center;
}

.x img {
  display: block;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.x img:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.5);
}

.x img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.z {
  background-color: white;
}
